<div class="page-header">
  <h3>Stay #<%= @stay.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Hotel</dt>
      <a href="/hotels/<%= @stay.hotel_id %>">
      <dd><%= @stay.hotel.name %></a></dd>

      <dt>Location</dt>
      <dd> <a href="/legs/<%= @stay.leg_id %>"><%= Location.find_by(:id => @location_id).place %></dd>
        </a>

      <dt>Rating (0-5)</dt>
      <dd><%= @stay.rating %></dd>

      <dt>Description</dt>
      <dd><%= @stay.description %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/stays" class="btn btn-primary">
        Back
      </a>
      <a href="/stays/<%= @stay.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_stay/<%= @stay.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
