<!-- Validation failure messages -->
<% if @meal.errors.any? %>
  <% @meal.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Meal #<%= @meal.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_meal/<%= @meal.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for restaurant_id -->
      <div class="form-group">
        <label for="restaurant_id" class="control-label">
          Restaurant
        </label>

          <%= select_tag(:restaurant_id, options_from_collection_for_select(Restaurant.where(:location_id =>@location_id), :id, :name, @meal.restaurant_id), :class => "form-control") %>
      </div>

      <div class="form-group">
        <a href="/restaurants/new">Add New Restaurant</a>

      </div>

      <!-- Label and input for leg_id -->



        <input type="hidden" id="leg_id" name="leg_id" placeholder="Leg" class="form-control" value="<%= @meal.leg_id %>">

      <!-- Label and input for rating -->
      <div class="form-group">
        <label for="rating" class="control-label">
          Rating (0-5)
        </label>

        <input type="text" id="rating" name="rating" placeholder="Rating" class="form-control" value="<%= @meal.rating %>">
      </div>

      <!-- Label and input for description -->
      <div class="form-group">
        <label for="description" class="control-label">
          Description
        </label>

        <input type="text" id="description" name="description" placeholder="Description" class="form-control" value="<%= @meal.description %>">
      </div>

      <button class="btn btn-warning">
        Update Meal
      </button>
      or
      <a href="/meals/<%= @meal.id %>">Cancel</a>
    </form>
  </div>
</div>
