<div class="page-header">
  <h3><%= Restaurant.find_by(:id=> @meal.restaurant_id).name %></h3>
</div>
<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Restaurant</dt>
      <dd> <a href="/restaurants/<%=@meal.restaurant_id%>"> <%= Restaurant.find_by(:id =>@meal.restaurant_id).name %></a></dd>


      <dt>Leg</dt>
      <dd> <a href="/legs/<%= @meal.leg_id %>"> <%= Location.find_by(:id => @location_id).place %></a></dd>

      <dt>Rating</dt>
      <dd><%= @meal.rating %></dd>

      <dt>Description</dt>
      <dd><%= @meal.description %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/meals" class="btn btn-primary">
        Back
      </a>
      <a href="/meals/<%= @meal.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_meal/<%= @meal.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
