<div class="page-header">
  <h3><%= @restaurant.name %> - <%=Location.find_by(:id => @restaurant.location_id).place   %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @restaurant.name %></dd>

      <dt>Rating</dt>
      <dd><%= @restaurant.rating %></dd>

      <dt>Restaurant image</dt>
      <dd><img src="<%= @restaurant.restaurant_image %>"></dd>

      <dt>Location</dt>
      <dd> <a href="/locations/<%= @restaurant.location_id %>"> <%= Location.find_by(:id => @restaurant.location_id).place %></dd></a>


    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/restaurants" class="btn btn-primary">
        Back
      </a>
      <a href="/restaurants/<%= @restaurant.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_restaurant/<%= @restaurant.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
